_Kiosko_WS/_Kiosko_WS/Web References/WebReferenceCIEL/IISelectorservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:ns5="urn:USoapLineasTiquete" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns4="urn:USoapElemento" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns3="urn:USoapTablero" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="urn:USoapOcupacion" xmlns:ns1="urn:UsoapTURNO" name="IISelectorservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema xmlns="urn:UsoapTURNO" targetNamespace="urn:UsoapTURNO">
      <xs:complexType name="TSoapTURNO">
        <xs:sequence>
          <xs:element name="UNIGUID" type="xs:string" />
          <xs:element name="UNITURNO" type="xs:string" />
          <xs:element name="IMPRIMIR" type="xs:boolean" />
          <xs:element name="HORASOLICITUD" type="xs:string" />
          <xs:element name="SALA" type="xs:string" />
          <xs:element name="USUARIOEMISOR" type="xs:string" />
          <xs:element name="HARDWARERECEPTOR" type="xs:string" />
          <xs:element name="OBSERVACIONES" type="xs:string" />
          <xs:element name="SELECTOR" type="xs:string" />
          <xs:element name="COLA" type="xs:string" />
          <xs:element name="TURNO" type="xs:string" />
          <xs:element name="CLIENTE" type="xs:string" />
          <xs:element name="IDCLIENTE" type="xs:string" />
          <xs:element name="NOMBRE" type="xs:string" />
          <xs:element name="PRIORIDAD" type="xs:string" />
          <xs:element name="TIPOID" type="xs:string" />
          <xs:element name="ERROR" type="xs:string" />
          <xs:element name="MODO" type="xs:string" />
          <xs:element name="AREA" type="xs:string" />
          <xs:element name="TIPOCLIENTE" type="xs:string" />
          <xs:element name="SERVICIO" type="xs:string" />
          <xs:element name="SUBSERVICIO" type="xs:string" />
          <xs:element name="USUARIORECEPTOR" type="xs:string" />
          <xs:element name="TURNOUSUARIO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="urn:USoapOcupacion" targetNamespace="urn:USoapOcupacion">
      <xs:complexType name="TSoapOcupacionArray">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="ns2:TSoapOcupacion[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TSoapOcupacion">
        <xs:sequence>
          <xs:element name="SALA" type="xs:string" />
          <xs:element name="OCUPACION" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="urn:USoapTablero" targetNamespace="urn:USoapTablero">
      <xs:complexType name="TSoapTableros">
        <xs:sequence>
          <xs:element name="SoapArray" type="ns3:TSoapTableroArray" />
          <xs:element name="SECONDS" type="xs:int" />
          <xs:element name="ERROR" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TSoapTableroArray">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="ns3:TSoapTablero[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TSoapTablero">
        <xs:sequence>
          <xs:element name="TURNO" type="xs:string" />
          <xs:element name="CODCLIENTE" type="xs:string" />
          <xs:element name="IDCLIENTE" type="xs:string" />
          <xs:element name="NOMBRE" type="xs:string" />
          <xs:element name="TIPOID" type="xs:string" />
          <xs:element name="SALA" type="xs:string" />
          <xs:element name="HARDWARERECEPTOR" type="xs:string" />
          <xs:element name="COLA" type="xs:string" />
          <xs:element name="HORASOLICITUD" type="xs:string" />
          <xs:element name="HORALLAMADO" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="urn:USoapElemento" targetNamespace="urn:USoapElemento">
      <xs:complexType name="TSoapElementos">
        <xs:sequence>
          <xs:element name="SoapArray" type="ns4:TSoapElementoArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="TSoapElementoArray">
        <xs:complexContent mixed="false">
          <xs:restriction base="soapenc:Array">
            <xs:sequence />
            <xs:attribute xmlns:n1="http://schemas.xmlsoap.org/wsdl/" n1:arrayType="ns4:TSoapElemento[]" ref="soapenc:arrayType" />
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="TSoapElemento">
        <xs:sequence>
          <xs:element name="CODIGO" type="xs:string" />
          <xs:element name="NOMBRE" type="xs:string" />
          <xs:element name="TIPOELEMENTO" type="xs:string" />
          <xs:element name="COD_SALA" type="xs:string" />
          <xs:element name="NOMBRE_SALA" type="xs:string" />
          <xs:element name="COD_OFICINA" type="xs:string" />
          <xs:element name="NOMBRE_OFICINA" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns="urn:USoapLineasTiquete" targetNamespace="urn:USoapLineasTiquete">
      <xs:complexType name="TSoapLineasTiquete">
        <xs:sequence>
          <xs:element name="FuenteDobleLinea4" type="xs:boolean" />
          <xs:element name="FuenteDobleLinea5" type="xs:boolean" />
          <xs:element name="FuenteDobleLinea6" type="xs:boolean" />
          <xs:element name="ImprimirLinea5" type="xs:boolean" />
          <xs:element name="ImprimirLinea6" type="xs:boolean" />
          <xs:element name="Linea1" type="xs:string" />
          <xs:element name="Linea2" type="xs:string" />
          <xs:element name="Linea3" type="xs:string" />
          <xs:element name="Linea4" type="xs:string" />
          <xs:element name="Linea5" type="xs:string" />
          <xs:element name="Linea6" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </types>
  <message name="GeneraTurno0Request">
    <part name="pSOAPTurno" type="ns1:TSoapTURNO" />
  </message>
  <message name="GeneraTurno0Response">
    <part name="return" type="ns1:TSoapTURNO" />
  </message>
  <message name="ActivaTurno1Request">
    <part name="uniCodigo" type="xs:string" />
    <part name="strSala" type="xs:string" />
    <part name="strUsuario" type="xs:string" />
  </message>
  <message name="ActivaTurno1Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="EliminaTurno2Request">
    <part name="uniCodigo" type="xs:string" />
    <part name="strSala" type="xs:string" />
  </message>
  <message name="EliminaTurno2Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="DevOcupacion3Request" />
  <message name="DevOcupacion3Response">
    <part name="return" type="ns2:TSoapOcupacionArray" />
  </message>
  <message name="DevTurnosADesp4Request">
    <part name="uniCodigo" type="xs:string" />
  </message>
  <message name="DevTurnosADesp4Response">
    <part name="return" type="ns3:TSoapTableros" />
  </message>
  <message name="Helloword5Request" />
  <message name="Helloword5Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="DevElementosDigiturno6Request">
    <part name="intElemento" type="xs:int" />
  </message>
  <message name="DevElementosDigiturno6Response">
    <part name="return" type="ns4:TSoapElementos" />
  </message>
  <message name="BroadcastMsg7Request">
    <part name="MessageText" type="xs:string" />
    <part name="MessagesServerDateTime" type="xs:string" />
  </message>
  <message name="BroadcastMsg7Response" />
  <message name="DevColasSelectorJornadaActual8Request">
    <part name="strSelector" type="xs:string" />
  </message>
  <message name="DevColasSelectorJornadaActual8Response">
    <part name="return" type="ns4:TSoapElementos" />
  </message>
  <message name="DevLogoComoBytes9Request">
    <part name="strSelector" type="xs:string" />
  </message>
  <message name="DevLogoComoBytes9Response">
    <part name="return" type="xs:base64Binary" />
  </message>
  <message name="DevFechaHoraServidor10Request" />
  <message name="DevFechaHoraServidor10Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="DevLineasTiquete11Request">
    <part name="strSelector" type="xs:string" />
  </message>
  <message name="DevLineasTiquete11Response">
    <part name="return" type="ns5:TSoapLineasTiquete" />
  </message>
  <message name="ImprimeTurno12Request">
    <part name="uniCodigo" type="xs:string" />
    <part name="strSelector" type="xs:string" />
    <part name="strNumeroTransaccion" type="xs:string" />
    <part name="strAplicacionCliente" type="xs:string" />
    <part name="strTurnoUsuario" type="xs:string" />
    <part name="strUsuarioReceptor" type="xs:string" />
  </message>
  <message name="ImprimeTurno12Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="DevCodigoJornadaActualSala13Request">
    <part name="strCodigoSala" type="xs:string" />
  </message>
  <message name="DevCodigoJornadaActualSala13Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="CreaActivaEImprimeCita14Request">
    <part name="pSOAPTurno" type="ns1:TSoapTURNO" />
    <part name="strUsuario" type="xs:string" />
    <part name="strSelector" type="xs:string" />
    <part name="strNumeroTransaccion" type="xs:string" />
    <part name="strAplicacionCliente" type="xs:string" />
    <part name="strTurnoUsuario" type="xs:string" />
    <part name="strUsuarioReceptor" type="xs:string" />
  </message>
  <message name="CreaActivaEImprimeCita14Response">
    <part name="return" type="ns1:TSoapTURNO" />
  </message>
  <message name="CancelaCita15Request">
    <part name="strCodigo" type="xs:string" />
    <part name="strCodigoUsuario" type="xs:string" />
    <part name="strCodigoSala" type="xs:string" />
  </message>
  <message name="CancelaCita15Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="RetornaTurnoActualTerminal16Request">
    <part name="strCodigoTerminal" type="xs:string" />
  </message>
  <message name="RetornaTurnoActualTerminal16Response">
    <part name="return" type="xs:string" />
  </message>
  <message name="ActualizaTransaccion17Request">
    <part name="strCodigoTerminal" type="xs:string" />
    <part name="strCodigoTurno" type="xs:string" />
    <part name="Cod_OrdenServicio" type="xs:string" />
    <part name="Cli_DocId" type="xs:string" />
    <part name="Cli_Nombre" type="xs:string" />
    <part name="Cli_Telefono" type="xs:string" />
  </message>
  <message name="ActualizaTransaccion17Response">
    <part name="return" type="xs:int" />
  </message>
  <portType name="IISelector">
    <operation name="GeneraTurno">
      <input message="tns:GeneraTurno0Request" />
      <output message="tns:GeneraTurno0Response" />
    </operation>
    <operation name="ActivaTurno">
      <input message="tns:ActivaTurno1Request" />
      <output message="tns:ActivaTurno1Response" />
    </operation>
    <operation name="EliminaTurno">
      <input message="tns:EliminaTurno2Request" />
      <output message="tns:EliminaTurno2Response" />
    </operation>
    <operation name="DevOcupacion">
      <input message="tns:DevOcupacion3Request" />
      <output message="tns:DevOcupacion3Response" />
    </operation>
    <operation name="DevTurnosADesp">
      <input message="tns:DevTurnosADesp4Request" />
      <output message="tns:DevTurnosADesp4Response" />
    </operation>
    <operation name="Helloword">
      <input message="tns:Helloword5Request" />
      <output message="tns:Helloword5Response" />
    </operation>
    <operation name="DevElementosDigiturno">
      <input message="tns:DevElementosDigiturno6Request" />
      <output message="tns:DevElementosDigiturno6Response" />
    </operation>
    <operation name="BroadcastMsg">
      <input message="tns:BroadcastMsg7Request" />
      <output message="tns:BroadcastMsg7Response" />
    </operation>
    <operation name="DevColasSelectorJornadaActual">
      <input message="tns:DevColasSelectorJornadaActual8Request" />
      <output message="tns:DevColasSelectorJornadaActual8Response" />
    </operation>
    <operation name="DevLogoComoBytes">
      <input message="tns:DevLogoComoBytes9Request" />
      <output message="tns:DevLogoComoBytes9Response" />
    </operation>
    <operation name="DevFechaHoraServidor">
      <input message="tns:DevFechaHoraServidor10Request" />
      <output message="tns:DevFechaHoraServidor10Response" />
    </operation>
    <operation name="DevLineasTiquete">
      <input message="tns:DevLineasTiquete11Request" />
      <output message="tns:DevLineasTiquete11Response" />
    </operation>
    <operation name="ImprimeTurno">
      <input message="tns:ImprimeTurno12Request" />
      <output message="tns:ImprimeTurno12Response" />
    </operation>
    <operation name="DevCodigoJornadaActualSala">
      <input message="tns:DevCodigoJornadaActualSala13Request" />
      <output message="tns:DevCodigoJornadaActualSala13Response" />
    </operation>
    <operation name="CreaActivaEImprimeCita">
      <input message="tns:CreaActivaEImprimeCita14Request" />
      <output message="tns:CreaActivaEImprimeCita14Response" />
    </operation>
    <operation name="CancelaCita">
      <input message="tns:CancelaCita15Request" />
      <output message="tns:CancelaCita15Response" />
    </operation>
    <operation name="RetornaTurnoActualTerminal">
      <input message="tns:RetornaTurnoActualTerminal16Request" />
      <output message="tns:RetornaTurnoActualTerminal16Response" />
    </operation>
    <operation name="ActualizaTransaccion">
      <input message="tns:ActualizaTransaccion17Request" />
      <output message="tns:ActualizaTransaccion17Response" />
    </operation>
  </portType>
  <binding name="IISelectorbinding" type="tns:IISelector">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="GeneraTurno">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#GeneraTurno" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ActivaTurno">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#ActivaTurno" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="EliminaTurno">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#EliminaTurno" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevOcupacion">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevOcupacion" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevTurnosADesp">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevTurnosADesp" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="Helloword">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#Helloword" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevElementosDigiturno">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevElementosDigiturno" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="BroadcastMsg">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#BroadcastMsg" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevColasSelectorJornadaActual">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevColasSelectorJornadaActual" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevLogoComoBytes">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevLogoComoBytes" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevFechaHoraServidor">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevFechaHoraServidor" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevLineasTiquete">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevLineasTiquete" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ImprimeTurno">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#ImprimeTurno" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="DevCodigoJornadaActualSala">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#DevCodigoJornadaActualSala" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="CreaActivaEImprimeCita">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#CreaActivaEImprimeCita" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="CancelaCita">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#CancelaCita" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="RetornaTurnoActualTerminal">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#RetornaTurnoActualTerminal" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="ActualizaTransaccion">
      <soap:operation soapAction="urn:ISelectorIntf-IISelector#ActualizaTransaccion" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:ISelectorIntf-IISelector" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IISelectorservice">
    <port name="IISelectorPort" binding="tns:IISelectorbinding">
      <soap:address location="http://192.168.210.6:8886/soap/IISelector" />
    </port>
  </service>
</definitions>